@model string

<div class="tab-pane active output-current-partial-container">
    <img src="@Model" alt="Output Image" class="rounded-lg shadow-lg" />
        <p>
        This section provides an overview of the selected category or command, including general
        information and a summary.
        </p>
</div>