<div id="output" class="tab-pane active">
    <img src="https://placehold.co/600x400" alt="Output Image" class="rounded-lg shadow-lg" />
</div>
<div id="overview" class="tab-pane hidden">
    <p>
        The overview is a work in progress.
    </p>
</div>